#calendar-container {
  /* background-image: url('../../public/images/summer-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh; */
}

.arrows {
  text-align: center;
}

h3{
  /* text-align: center; */
  font-size: 3rem;
  font-family: 'Noto Sans';
  display: inline-block;
  color: #7d4dff
}

#arrow-btn {
  margin-bottom: 20px;
  color: #1be2af;
}

#weekday-header {
  color:#1be2af;
  font-weight: 600;
}