.day-block {
  /* border: 1px black solid; */
  height: 6rem;
  width: 6rem;
  position: relative;
}

#day-marker {
  position: absolute;
  left: 0;
  top:0;
  padding: 2px 5px;
  margin-left: 5px;
  font-family: 'Lato';
  font-size: 1.25rem;
  font-weight: 600;
}

#today-marker {
  color: white;
  background-color: #1be2af;;
  border-radius: 50%;
  padding: 2px 5px;
  position:absolute;
  top:0;
  left:0;
  margin-left: 5px;
  font-family: 'Lato';
  font-size: 1.25rem;
  font-weight: 600;
}

.MuiBox-root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: white;
}

#day-btn {
  /* padding-top: 0; */
}