/* Section {
  display: flex;
} */

div #banner-div {
  background-color: #1be2af;;
  border-radius: 5px;
  width: 100%;
}

p {
  font-family: Raleway;
  font-weight: 600;
  padding-left: 10px;
}

/* div #modal-banner-div {
  background-color: red;
  border-radius: 5px;
  display: flex;
} */

delete-icon {
  justify-content: end;
}